body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 100px;
}

.collapse-button {
  width: 90px;
  height: 40px;
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  background-color:  #017bff;
  cursor: pointer;
}

.collapse-button:hover {
  background-color: #0069d9;
}

.collapse-button:focus {
  outline: 3px solid #93c7fe;
}

.text-container {
  margin-top: 20px;
  width: 520px;
  overflow: hidden;
}

.text {
  padding: 25px 20px;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  line-height: 1.5;
}

.show {
  height: 130px;
  transition: height 0.4s;
}

.hide {
  height: 0;
  transition: height 0.4s;
}
